* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif; /* Set Noto Sans as the default font */
}

/* styles.css */

/* Full-page gradient background */
body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  color: #000000;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Main container with glass effect */
.null-wrapper {
  background: inherit;
  backdrop-filter: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: opacity 0.5s ease-in, opacity 0.5s ease-out;
}

.null-wrapper.visible {
  opacity: 1;
}

.content-wrapper {
  width: 100%;
  background: inherit;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  flex-grow: 1; /* Allows it to expand and fill space */
  width: 100%; /* Take full width of the parent */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.container-2 {
  position: absolute;
  width: 100%; /* Matches the width of container-1 */
  bottom: 0; /* Attaches to the bottom of container-1 */
  background-color: lightcoral;
  text-align: center;
}

/* Center message container */
.center-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  text-align: center;
  margin-bottom: 20px;
  gap: 40px;
}

.center-message.summary {
  width: 50%;
  margin-top: 100px;
}

.center-message p {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%; /* 54px */
  letter-spacing: -0.684px;
}

.center-message.summary h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.608px;
}

.reviseContainer {
  display: flex;
  /* height: 300px; */
  padding: 5% 10%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid #000;
  background: var(--trans_low, rgba(173, 173, 173, 0.1));
}

.reviseContainer textarea {
  width: 100%;
  height: 100%;
  resize: none; /* prevent manual resizing if you want */
  border: none;
  background: transparent;
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 48px */
  letter-spacing: -0.608px;
  outline: none;
}

.backAndRevise {
  width: 30%;
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.38px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.generate {
  display: flex;
  width: 258px;
  height: 56px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #000;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.generate p {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.38px;
}

.center-message h2 {
  font-size: 36px;
  font-weight: 300;
  color: #000;
  font-family: "Noto Sans";
  font-style: normal;
  line-height: 150%; /* 54px */
  letter-spacing: -0.684px;
}

.center-message h2 strong {
  font-weight: bold;
  color: inherit; /* Ensure it keeps the text color */
}

.workflow-wrapper {
  background: inherit;
  position: relative;
  width: 100%;
  inset: 0;
}

.workflow-name {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  /* transform: translate(-50%, -50%); */

  background: transparent;
  justify-content: center;
  align-items: center;
  z-index: 9;

  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.38px;
  border-bottom: 2px solid white;
}

.recommendations-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between rows */
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 10vh;
  border-radius: 10px;
  background: transparent;
  position: absolute;
  bottom: calc(30px + 8vh); /* Adjust the distance from the bottom */
}

.promptTags {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between rows */
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 10vh;
  border-radius: 10px;
  background: transparent;
  /* top: calc(-56px + 36px + 50vh);  */
}

.recommendation-row,
.promptTags-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
  position: relative;
}

.recommendation-button,
.promptTag {
  display: inline-flex; /* Allows width to adjust dynamically */
  padding: 0px 10px; /* Add horizontal padding */
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  word-wrap: break-word;
  cursor: pointer;
  text-align: center;
  white-space: normal; /* Allows text wrapping */
  max-width: 600px; /* Ensures it doesn’t exceed 600px */
  min-width: fit-content; /* Ensures button is as wide as necessary */
  height: 100%;
  overflow: hidden; /* Prevents text from overflowing */
  transition: all 0s ease-in-out;
}

.recommendation-button.loading {
  background: rgb(173, 173, 173);
  color: rgb(173, 173, 173);
}

.recommendation-button.selected {
  background: black;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  height: 6vh;
  padding: 16px 17px;
  gap: 110px;
  border-radius: 10px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 30px; /* Adjust the distance from the bottom */
}

/* Input field styling */
input {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  border-radius: 4px;
  border: transparent;
  background: rgba(255, 255, 255, 0);
  font-size: 16px;
  outline: None;
}

/* Button styling */
button {
  padding: 15px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(255, 167, 246);
  font-size: 18px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Disabled button state */
button:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

/* Spinner animation for loading */
.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(110, 110, 110, 0.513);
  border-top-color: rgb(111, 111, 111);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Icon styling */
i {
  font-size: 18px;
}

.memory-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.memory-modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80vw; /* 90% of viewport width */
  height: 80vh; /* 90% of viewport height */
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 9999;
}

.memory-modal-content h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;

  margin-bottom: 20px;
  padding: 2vh 2vw 0vh 2vw;
  
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Always maximum 4 per row */
  gap: 30px;
  padding: 30px 200px; /* Padding inside the memory modal */
  margin-top: 20px;
}

.memory-card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -1.9%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Show up to 2 lines */
  -webkit-box-orient: vertical;
}

.minimize-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 17.6px;
  height: 17.6px;
  cursor: pointer;
}

.memory-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.close-memory-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #aaa8f2;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
