@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.faded-out {
  opacity: 0.02;
  transform: scale(0.95); /* Optional for subtle animation */
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    all 0.2s ease-in-out;
}

.workflow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 30px;
  padding-top: 13vh; /* Creates empty space at the top */
  overflow-y: auto;
  position: relative;
}

.workflow-container > *:not(.faded-out) {
  pointer-events: auto;
}

.phase-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  background: transparent;
  gap: 45px;
  padding-bottom: 30px;
  /* height: auto;  */
  transition: height 0.3s ease-in-out; /* Smooth transition */
  overflow: visible; /* Prevent sudden overflow issues */
}

.phase-label-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  top: 0px; /* Move above the subtasks */
  left: 0px;
  width: 40vw;
  background-color: #00000009;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
}

.phase-label-container:hover {
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.038);
}

.phase-label-text {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.phase-hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  pointer-events: none; /* Ensure it doesn't block interactions */
  transition: background-color 0.3s;
  z-index: -1;
}

.phase-row:hover .phase-hover-area {
  background-color: rgba(0, 0, 0, 0.05);
}

.subtasks-wrapper {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.1s;
  gap: 30px;
}

.subtask {
  position: relative; /* To position .steps relative to .subtask */
  flex: 1 1 200px;
  max-width: 26vw;
  border-radius: 10px;
  background: transparent;
  padding: 18px 32px 27px 32px;

  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.subtask:hover {
  padding-bottom: 25px;
}

.subtask.selected {
  position: absolute; /* Move to absolute positioning */
  max-width: 40vw;
  left: 5%; /* Align with the very left of the screen */
  top: 10%;
  transition: left 1s linear;
  z-index: 10;
}

.subtask-placeholder {
  flex: 1 1 200px;
  max-width: 30vw;
  border-radius: 15px;
  background: var(--trans_low, transparent);
  padding: 10px;
  gap: 0px;
  transition: box-shadow 0.3s, transform 0.1s;
  cursor: default;
  visibility: hidden; /* Makes everything inside invisible */
  pointer-events: none; /* Prevents interactions */
}

.subtask-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 66px;
  background: white;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    left 0.5s linear;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
  gap: 10px;

  text-align: center;
  flex: 1;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.subtask-card h3 {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.subtask-preview {
  bottom: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.preview-icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.subtask:hover .preview-icon,
.subtask.selected .preview-icon {
  opacity: 0;
}

.steps-wrapper {
  position: relative;
  max-height: 40px;
  transition: max-height 0.2s ease-in-out;
}

.subtask:hover .steps-wrapper,
.subtask.selected .steps-wrapper {
  max-height: 5000px;
}

.steps {
  top: 0px;
  position: relative; /* Take it out of the document flow */
  display: flex;
  opacity: 1; /* Initially invisible */
  visibility: visible;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* clip-path: inset(0 0 calc(100% - 20px) 0); */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 10px,
    rgba(0, 0, 0, 0.15) 20px,
    rgba(0, 0, 0, 0) 40px,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 5px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: all 0.6s ease-in-out;
  z-index: 5; /* Bring steps to the front */
}

.subtask:hover .steps,
.subtask.selected .steps {
  -webkit-animation: change-mask 0.2s forwards;
  animation-direction: normal;
  position: relative;
}

.subtask:not(:hover):not(.selected) .steps {
  -webkit-animation: hide-mask 0.2s forwards;
  animation-direction: reverse;
}

@keyframes change-mask {
  0% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 10px,
      rgba(0, 0, 0, 0.15) 20px,
      rgba(0, 0, 0, 0) 40px,
      rgba(0, 0, 0, 0) 100%
    );
  }
  25% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 10px,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0) 26%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  30% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.8) 10px,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0) 51%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  40% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 10px,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 0) 76%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  45% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 10px,
      rgba(0, 0, 0, 0.9) 90%,
      rgba(0, 0, 0, 0) 91%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  50% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  100% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

@keyframes hide-mask {
  00% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 10px,
      rgba(0, 0, 0, 0.15) 20px,
      rgba(0, 0, 0, 0) 40px,
      rgba(0, 0, 0, 0) 100%
    );
  }
  25% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 10px,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0) 26%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  30% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.8) 10px,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0) 51%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  35% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 10px,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 0) 76%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  40% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  100% {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.AI {
  background: var(
    --status,
    linear-gradient(107deg, #b3d9ff 13.95%, #ebb4ff 97.27%)
  );
}

.B {
  background: var(
    --status,
    linear-gradient(107deg, #ffe3b8 13.95%, #ebb4ff 97.27%)
  );
}

/* 浮窗设计 */
.parent-container {
  position: absolute; /* Ensure the modal is positioned relative to this container */
  /* overflow-y: auto;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 40vw;
  padding: 0px; /* Optional: adjust padding to your needs */
  background: transparent;
}

.clear-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-width: 50%;
}
