@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.faded-out {
  opacity: 0.02;
  transform: scale(0.95); /* Optional for subtle animation */
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    all 0.2s ease-in-out;
}

.workflow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 30px;
  overflow-y: hidden;
  position: relative;
}

.workflow-container > *:not(.faded-out) {
  pointer-events: auto;
}

.phase-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  background: transparent;
  gap: 45px;
  padding-bottom: 30px;
  /* height: auto;  */
  transition: height 0.3s ease-in-out; /* Smooth transition */
  overflow: visible; /* Prevent sudden overflow issues */
}

.phase-label-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  top: 0px; /* Move above the subtasks */
  left: 0px;
  width: 40vw;
  background-color: #00000009;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
}

.phase-label-container:hover {
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.038);
}

.phase-label-text {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.phase-hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  pointer-events: none; /* Ensure it doesn't block interactions */
  transition: background-color 0.3s;
  z-index: -1;
}

.phase-row:hover .phase-hover-area {
  background-color: rgba(0, 0, 0, 0.05);
}

.subtasks-wrapper {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.1s;
  width: 100%;
  gap: 30px;
}

.subtask {
  position: relative; /* To position .steps relative to .subtask */
  width: 30%;
  border-radius: 15px;
  background: rgba(186, 186, 186, 0.1);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 5px 18px 18px 18px;

  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.subtask:hover,
.subtask.force-hover {
  padding-bottom: 25px;
}

.subtask.selected {
  position: absolute; /* Move to absolute positioning */
  max-width: 40vw;
  left: 5%; /* Align with the very left of the screen */
  top: 0%;
  transition: left 1s linear;
  z-index: 10;
  opacity: 0;
}

.subtask-placeholder {
  max-width: 30%;
  border-radius: 15px;
  background: var(--trans_low, transparent);
  padding: 10px;
  gap: 0px;
  transition: box-shadow 0.3s, transform 0.1s;
  cursor: default;
  visibility: hidden; /* Makes everything inside invisible */
  pointer-events: none; /* Prevents interactions */
}

.subtask-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 66px;
  background: transparent;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    left 0.5s linear;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
  gap: 10px;

  text-align: center;
  flex: 1;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.subtask-card h3 {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.subtask-preview {
  bottom: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.steps {
  top: 0px;
  position: relative; /* Take it out of the document flow */
  display: flex;
  background: rgba(255, 255, 255, 0.114);
  visibility: visible;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 5px;
  z-index: 5;
}

.subtask-placeholder .steps {
  opacity: 0;
}

.subtask:not(:hover):not(.selected):not(.force-hover) .steps {
  -webkit-animation: hide-mask 0.2s forwards;
  animation-direction: reverse;
}

/* 浮窗设计 */
.parent-container {
  position: absolute; /* Ensure the modal is positioned relative to this container */
  /* overflow-y: auto;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  top: 0px;
  right: 0;
  padding: 0px; /* Optional: adjust padding to your needs */
  background: transparent;
}

.force-hover-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: red;
}

.left-column {
  position: absolute;
  right: 60%;
  max-width: 40%;
  width: 60vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 8;
  background-color: transparent; /* optional */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  height: 100vh;
  padding-bottom: 60vh;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.left-column.invisible {
  transition: all 1s ease-in-out;
  opacity: 0;
}

.subtask.single {
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.subtask.highlighted {
  background: rgba(255, 255, 255, 0.363);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.282);
  border: 2px solid #000;
}
